.health {
  width: 200px; opacity: 0.9; cursor: pointer; position: absolute; right: 40px; bottom: 20px;display: none;
}

.load {
  width: 20%; opacity: 0.9; cursor: pointer; position: absolute; top: 20px; margin-left: 40%; margin-top: 20%;
}